@model IEnumerable<Senior_Project.Models.Anime>

@{
    ViewBag.Title = "Anime List";
}

<h2 class="well">Anime List</h2>

<div class="wrap">
    <div class="search">
        <input type="text" class="searchTerm">
        <button type="submit" class="searchButton">
            Submit
            <i class="fa fa-search"></i>
        </button>
    </div>
</div>

<p style="padding-top:1em; padding-bottom :.5em;"></p>

<p>
    <!--Html.ActionLink("Create New", "Create")-->
</p>
<table class="table table-bordered ">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Episodes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
    </tr>
    <!--
foreach (var item in Model) {
    <tr>
        <td>
            Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            Html.DisplayFor(modelItem => item.Episodes)
        </td>
        <td>
            Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
    
}
        -->
</table>
